<!-- (( They see me codin', they hatin' )) -->
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <title>{% block title %}{% endblock %} &rsaquo; Service Desk</title>
  <style>
    body {
      padding-top: 5rem;
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }
    #sysinfo {
      display: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('tickets.index') }}">Web Service Desk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {% if g.user %}
        <span class="navbar-text">
          Здравствуйте, <strong>{{ g.user.username }}</strong>!
        </span>
        {% endif %}
        <ul class="navbar-nav mr-auto">
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile.edit') }}">Профиль</a>
          </li>
          {% if g.user.position == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.index') }}">Администрирование</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
          </li>
          {% endif %}
        </ul>
        {% if g.user %}
        <form class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2" type="number" placeholder="ID заявки" aria-label="ID заявки">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Искать</button>
        </form>
        {% else %}
        <span class="navbar-text">
          <a href="{{ url_for('auth.login') }}">Войдите</a> в систему, чтобы искать заявки по номеру
        </span>
        {% endif %}
      </div>
    </div>
  </nav>

  <main role="main" class="container">
    {% if get_flashed_messages() %}
    <div class="alert alert-dark" role="alert">
      <h4 class="alert-heading">Сообщения системы</h4>
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="text-muted">
            &copy; Ivan Khromov, 2019 | Powered by <a href="#" id="showSysInfo">Python and Flask</a>
          </p>
          <div id="sysinfo">
            <samp>
              {% for conf in system_info() %}
              {{ conf['key'] }}:{{ conf['value'] }}<br>
              {% endfor %}
            </samp>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

    <script>
      $('#showSysInfo').click(function() {
        $('#sysinfo').show();
      });
    </script>
</body>

</html>